<%- include ("partials/header") %>


<div class="container">

    <div style="text-align: center;" class="jumbotron">
        <div class="container">
            <h1>Campgrounds page</h1>
            <p>Hand picked Campgrounds!</p>
            <button class="btn btn-lg btn-danger"> <a href="/campgrounds/new">Add new Campground</a> </button>
        </div>
    </div>

    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(place){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src=" <%= place.image %> ">
                <div style="text-align: center;" class="caption">
                    <h4> <%= place.name %> </h4>
                </div>
                <p style="text-align: center;">
                    <a href="/campgrounds/<%= place._id %>" class="btn btn-large btn-primary">Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>



    <a href="/"><strong>Homepage</strong></a>

</div>
<%- include ("partials/footer") %>